/** 最上位要素ラップクラス*/
.main-wrapper {
  margin: 0 10px;
}

/** timeline要素ラップクラス*/
.main-wrapper--timeline {
  background-color: lightgray;
}

/** timelineコンテンツラップクラス*/
.timeline-contents {
  border: solid 1px;
  margin-bottom: 10px;
  padding: 0 10px;
}

/** timeline内imageラップ用クラス*/
.image-contents {
  text-align: center;
}

/** timeline内image用クラス*/
.image-contents--single {
  max-width: 80%;
  height: auto;
}

/** timeline内image複数verラップ用クラス*/
.image-contents--wrapper {
  display: flex;
  overflow-x: scroll;
}

/** timeline内image複数ver用クラス*/
.image-contents--mulch {
  max-width: 80%;
  height: auto;
  margin-left: 10px;
}

/** timeline内videoラップ用クラス*/
.video-contents {
  text-align: center;
  position: relative;
}

/** timeline内video用クラス*/
.video-contents--item {
  max-width: 80%;
  height: auto;
  opacity: 0.45;
  border: solid gray;
  max-height: 500px;
}

/** timeline内video再生アイコン用クラス*/
.video-contents--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.timeline-contents--statusBar {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  align-items: center;
}

.timeline-statusBar--retweet {
  margin-right: 10px;
}

.timeline-statusBar--favorite {
  margin-right: 20px;
}
