@media screen and (max-width: 500px) {
  .input-Wrapper {
    flex-direction: column;
  }
}

/** 最上位要素ラップクラス*/
.modal-wrapper {
  margin: 0 10px;
  padding: 0 20px 10px;
  background-color: white;
  border: solid 1px;
}

/** modal上部ボタン要素ラップクラス */
.button-wrapper {
  display: flex;
  justify-content: space-between;
}

/** modalボタンベースクラス */
.button-style {
  padding: 2px 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid;
  border-radius: 0.2rem;
}

/** modal閉じるボタンhoverクラス */
.button-style--closeButton:hover {
  color: white;
  background: red;
}

/** modal要素追加ボタンhoverクラス */
.button-style--addButton:hover {
  color: white;
  background: skyblue;
}

/** modalTimeLine切り替えボタンクラス */
.button-style--tlChangeButton {
  width: 130px;
  text-align: center;
}

/** modalTimeLine切り替えボタンhoverクラス */
.button-style--tlChangeButton:hover {
  color: white;
  background: #ff7321;
}

/** エラー文言用クラス*/
.error-text {
  color: red;
}