/** modalContents追加Areaラップクラス */
.input-Wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

/** modalContentsAreaクラス */
.input-contents {
  display: flex;
}

/** modalContents要素クラス */
.input-contents--item {
  height: 24px;
  margin: 14px 0 0 10px;
  padding-right: 5%;
}

/** modalContents要素accountName用クラス */
.input-label--accountName {
  width: 70px;
}

/** modalContents要素accountId用クラス */
.input-label--accountId {
  width: 100px;
}

/** userアカウント情報要素ラップクラス*/
.userInfo-wrapper {
  position: relative;
  padding: 0 10px;
  margin: 10px 0;
  border: 1px solid;
  display: flex;
}

/** userアカウント情報Active時用のクラス*/
.userInfo-wrapper:focus {
  border-left: solid 6px skyblue;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.267);
}

/** userアカウント情報削除ボタンクラス*/
.userInfo-removeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

/** userアカウント情報listクラス*/
.userInfo-list {
  cursor: pointer;
  width: 80%;
}
